DATABASE_URL="postgresql://postgres:YOUR_PASSWORD@nozomi.proxy.rlwy.net:36422/railway"

AUTH_GOOGLE_ID=your_google_client_id_here
AUTH_GOOGLE_SECRET=your_google_client_secret_here

AUTH_SECRET=replace_with_a_random_32_char_string
AUTH_URL=http://localhost:3000
